@import url('reset.css');

.outer-wrapper{
  width:100vw;
  height:100vh;
  /*display:flex;
  flex-flow:row wrap;
  margin:0 auto;
  border:1px solid black;
  justify-content:center;*/
  background-color:green;
}

.vs{
  width:200px;
  height:200px;
  position:absolute;
  top:50%;
  left:50%;
  margin:-80px 0 0 -170px;
  z-index:100;
  /*border:1px solid black;
  padding:10px;
  margin:210px 20px 0px 20px;*/
  animation-name:rotate;
  animation-duration:1s;
  animation-timing-function:ease-in;
  animation-iteration-count: infinite;
  
}

@keyframes rotate {
  0% {transform: rotate(0deg);}
  50%{transform: rotate(7deg);}
}

@keyframes from-left {
  from{width:0vw}
  to{width:50vw}
}

@keyframes from-right {
  from{width:0vw}
  to{width:50vw}
}

.movie-poster-one-bg{
  width:50vw;
  height:100vh;
  background-color:yellow;
  float:left;
  animation-name:from-left;
  animation-duration:1s;
  animation-timing-function:ease-in;
}

.movie-poster-two-bg{
  width:50vw;
  height:100vh;
  background-color:blue;
  float:right;
  animation-name:from-right;
  animation-duration:1s;
  animation-timing-function:ease-in;
}

/*#generate-btn{
  width:200px;
  height:50px;
  border-radius:20px;
  background:linear-gradient(red,black);
  cursor:pointer;
  color:white;
  text-align:center;
  line-height:50px;
  font-family:futura;
  font-size:24px;
  font-weight:200;
  text-transform:uppercase;
  margin:0px 50px 80px 50px;
}